<!-- PARAMS: `{currUser: {_id, username}}` -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to YelpCamp</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>
<body>

    <!-- NavBar * -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color: rgb(168, 70, 70);">
        <div class="container">
            <div class="navbar-brand"><i class="fab fa-free-code-camp fa-2x"></i></div>  
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#hamburger-stuff"><span class="navbar-toggler-icon"></span></button>
                
            <div class="collapse navbar-collapse" id="hamburger-stuff">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">- YelpCamp -</a></li>
                </ul>
                <ul class="navbar-nav">
                    <!-- If logged in, show current user and logout, otherwise show `modalUserForm` -->
                    <% if(currUser) { %>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-laugh-squint"></i> <%= currUser.username %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    <% } else { %>
                        <li class="nav-item"><a href="" class="nav-link" data-toggle="modal" data-target="#modalUserForm">Signup <i class="fas fa-sign-in-alt"></i> Login</a></li>
                    <% } %>
            </div>
        </div>
    </nav>
    <!-- END NavBar -->

    <!-- modalUserForm template * -->
    <div class="modal fade" id="modalUserForm" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title form-title-padding" id="userModalLabel">Signup/Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row vdivide">
                        <div class="col-lg-6 form-body-padding">
                            <form action="/register" method="POST">
                                <div class="form-group">
                                  <label for="loginName" class="col-form-label">Name:</label>
                                  <input type="text" class="form-control" id="loginName" name="username" required>
                                </div>
                                <div class="form-group">
                                  <label for="loginPassword" class="col-form-label">Password:</label>
                                  <input type="password" class="form-control" id="loginPassword" name="password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 form-body-padding">
                            <form action="/login" method="POST">
                                <div class="form-group">
                                  <label for="loginName" class="col-form-label">Name:</label>
                                  <input type="text" class="form-control" id="loginName" name="username" required>
                                </div>
                                <div class="form-group">
                                  <label for="loginPassword" class="col-form-label">Password:</label>
                                  <input type="password" class="form-control" id="loginPassword" name="password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Flash messages -->
    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
    </div>
